@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html {
  scroll-behavior: smooth;
  background-color: #f5f5f7;
}

body {
  overflow-x: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

/* Header Section */
.header {
  top: 0;
  z-index: 10;
  height: 44px;
  position: fixed;
  inset-inline: 0;
  column-gap: 24px;
  background-color: #f5f5f7;
}

.header__link {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}

.header__icons {
  column-gap: 24px;
}

.header__icon {
  width: 30px;
}

.header__icon--image--menu {
  display: none;
}

.ribbon {
  height: 60px;
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 44px;
  font-weight: 400;
  background-color: #fff;
}
.gradient-header {
  width: 100vw;
}

.store-container {
  display: flex;
  padding: 80px 150px;
  align-items: center;
  justify-content: space-between;
}

.store-header {
  column-gap: 32px;
  padding-left: 20px;
}

.rainbow-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}

.store-title {
  font-size: 44px;
  font-weight: 700;
}

.store-subtitle {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
}

.store-support {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

.support-item {
  display: flex;
  column-gap: 16px;
  justify-content: space-around;
}

.support-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: #0066cc;
}

.section-header {
  display: flex;
  column-gap: 4px;
  align-items: center;
  margin-bottom: 24px;
  padding-left: 160px;
}

.store-section-title {
  font-size: 24px;
  font-weight: 700;
}

.store-section-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
}

/* Product Section */
.products-cards {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-around;
}

.product-card {
  width: 138px;
  padding: 18px 8px 16px;
}

.product-card-image {
  width: 120px;
  height: 78px;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-title {
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 18px;
  font-weight: 700;
  text-align: center;
}

/* Section 1 */

.section-1-products {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner-products-cards {
  width: 100%;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
  scrollbar-width: none;
}

.section-1-products .product-card {
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
}
.section-1-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}

.product-name {
  font-size: 26px;
  font-weight: 700;
}

.text-white {
  color: #fff;
}

/* Section 2 */

.section-2-products {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
.section-2-products .product-card {
  width: 313px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  gap: 58px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding: 0%;
}
.section-2-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}
.s2-image {
  margin-top: 71px;
  width: 230px;
  height: 230px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.frame {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 257px;
  height: 61px;
}
.frame .product-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

/* Section 3 */

.section-3-products {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
.section-3-products .product-card {
  width: 313px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  gap: 58px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding: 0%;
}
.section-3-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}
.frame p {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.store-card {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 18px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  padding: 0%;
}
.store-card-title {
  padding-top: 53px;
  padding-left: 30px;
}
.store-card-title h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  width: 326px;
}

/* Section 4 */
.section-4-products {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
.section-4-products .product-card {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  cursor: pointer;
  gap: 58px;
  border-radius: 18px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding: 0%;
}

.store-card-title p {
  color: #6e6e73;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 9px;
  line-height: 16px;
}
.product-text-card {
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  padding: 0%;
}
.text-card {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background-color: #fff;
  padding: 0%;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
.text-card p {
  width: 257px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 82px;
}
.section-4-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}

/* Section 5 */

.section-5-products {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
.section-5-products .product-card {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  cursor: pointer;
  gap: 58px;
  border-radius: 18px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding: 0%;
}
.section-5-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}

/* Section 6 */

.section-6-products {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}

.section-6-products .store-card {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 18px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-size: cover;
  background-position: center;
  padding: 0%;
}
.section-6-products .product-card {
  flex-shrink: 0;
  scroll-snap-align: start;
  padding: 0%;
}
.section-6-products .product-card-empty {
  width: 138px;
  height: 500px;
  opacity: 0;
}
.section-5-products .store-card-title,
.section-6-products .store-card-title {
  padding-top: 30px;
}

/* Section Links */
.section-links {
  padding-top: 60px;
  padding-left: 140px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.links {
  display: flex;
  column-gap: 12px;
}
.section-links h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.item-link {
  display: flex;
  column-gap: 8px;
  border: solid 1px black;
  border-radius: 999px;
  padding: 10px 12px;
  align-items: center;
}
