@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
html {
  scroll-behavior: smooth;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}
header {
  width: 100vw;
  height: 44px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  column-gap: 24px;
}
.header-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #000;
}
.header-icons {
  display: flex;
  gap: 30px;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu {
  display: none;
  height: 20px;
}
.donation-banner {
  display: flex;
  padding: 16px 0;
  margin-top: 44px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #1d1d1f;
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
}
#container_16pro {
  background-image: url(images/main1.jpg.jpg);
}
#container_16 {
  background-image: url(images/main2.jpg.jpg);
}
h2 {
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.container p {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 20px;
}
button {
  padding: 12px 20px;
  border-radius: 999px;
  border: solid #0071e3 1px;
}
.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.button_left {
  background: #0071e3;
  color: #fff;
}
.button_right {
  color: #2997ff;
  background-color: transparent;
}
.container {
  width: 100%;
  height: 692px;
  text-align: center;
  margin-bottom: 12px;
  flex-direction: column;
  background-size: cover;
  padding-block: 55px 36px;
  background-position: center;
}
.container_gift {
  background-image: url(images/main3.jpg.jpg);
  width: 100%;
  height: 692px;
  text-align: center;
  margin-bottom: 12px;
  flex-direction: column;
  background-size: cover;
  padding-block: 55px 36px;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}
.gift_header {
  color: #000;
}
.gift_text {
  color: #000;
}
.shop_gift {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift_button {
  background: #0071e3;
  color: #fff;
  padding: 12px 20px;
  border-radius: 999px;
  border: solid #0071e3 1px;
  margin-top: 20px;
}
.product_container {
  gap: 12px;
  display: grid;
  margin-bottom: 12px;
  grid-auto-rows: 580px;
  grid-template-columns: repeat(2, 1fr);
}
.product {
  width: 100%;
  height: 580px;
  text-align: center;
  margin-bottom: 12px;
  flex-direction: column;
  background-size: cover;
  padding-block: 55px 36px;
  background-position: center;
  display: flex;
  align-items: center;
}
.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product1 {
  background-image: url(images/product1.jpg);
  display: flex;
  justify-content: space-between;
}
#product2 {
  background-image: url(images/product2.jpg);
  display: flex;
  justify-content: flex-end;
}
#product3 {
  background-image: url(images/product3.jpg);
}
#product4 {
  background-image: url(images/product4.jpg);
}
#product5 {
  background-image: url(images/product5.jpg);
}
#product6 {
  background-image: url(images/product6.jpg);
}
.ipad_air {
  width: 144px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.color_text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product h2 {
  color: #000;
  font-size: 32px;
  height: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.product p {
  color: #000;
  margin: 0;
  font-size: 18px;
  margin-bottom: 15px;
}
#product2 h2 {
  color: #fff;
}
#product2 p {
  color: #fff;
}
.series {
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
#product5 p {
  width: 344px;
  height: 50px;
}
#product6 p {
  width: 344px;
  height: 50px;
}
.logo {
  display: flex;
  gap: 8px;
}
.apple_logo {
  width: 26px;
  height: 32px;
}
.media_section {
  width: 100%;
  display: flex;
  column-gap: 15px;
  overflow-x: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.media_slide {
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  background-position: center;
  background-size: cover;
}
.slide_info {
  left: 47px;
  bottom: 38px;
  position: absolute;
}
.info_button {
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 11px 21px;
  margin-right: 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
}
.bullets {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.bullet {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: #0000006b;
}
.slide_section {
  width: 100%;
  overflow: hidden;
  padding-top: 12px;
  height: 236px;
  position: relative;
}
.slide {
  width: max-content;
  display: flex;
  gap: 15px;
  animation: slide 60s linear infinite;
  position: relative;
}
.slide_item {
  min-width: 417px;
  height: 236px;
  background-position: center;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 8px));
  }
}
.slide-item1 {
  display: flex;
  align-items: center;
  background-color: rgb(20, 40, 56);
  padding-left: 15px;
  display: flex;
  gap: 15px;
}
.slide-item2 {
  display: flex;
  align-items: center;
  background-color: #eae6e1;
  padding-left: 15px;
  display: flex;
  gap: 15px;
}
.slide-item8 {
  display: flex;
  align-items: center;
  background-color: rgb(64, 13, 14);
  padding-left: 15px;
  display: flex;
  gap: 15px;
}
.slide-item10 {
  display: flex;
  align-items: center;
  background-color: rgb(38, 38, 38);
  padding-left: 15px;
  display: flex;
  gap: 15px;
}
.image1,
.image2,
.image8,
.image10 {
  width: 198px;
  height: 198px;
  border-radius: 10px;
}
.slide-item1 p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.slide-item2 p,
.slide-item8 p,
.slide-item10 p {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.slide_item_info {
  padding-left: 15px;
  padding-top: 190px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.224px;
}
.slide:hover {
  animation-play-state: paused;
}
.slide:hover .slide_item {
  filter: grayscale(100%);
}
.slide .slide_item:hover {
  filter: grayscale(0%);
}
.slide_item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
}
.slide .slide_item:hover::after {
  background: rgba(0, 0, 0, 0.3);
}
.slide_item:hover .content::after {
  background: rgba(0, 0, 0, 0);
}
.content {
  position: absolute;
  padding: 6px 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  margin-left: 160px;
  z-index: 2;
}
.content p {
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.slide_item .content {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
}
.slide_item:hover .content {
  opacity: 1;
}
.content_other {
  margin-top: 100px;
}
@media (max-width: 1024px) {
  /* Header Section */
  header {
    height: 48px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-link {
    display: none;
  }
  .icon-menu {
    display: block;
  }

  /* Banner Section */
  .donation-banner {
    margin-top: 48px;
    padding-block: 12px;
  }

  /* Hero Section */
  .container {
    height: 650px;
    padding-top: 50px;
  }

  #container_16pro {
    background-image: url("images/16pro-tablet.jpg");
  }

  #container_16 {
    background-image: url("images/16-tablet.jpg");
  }

  .container h2 {
    font-size: 42px;
  }

  .container p {
    margin-block: 4px 16px;
  }
}

@media (max-width: 768px) {
  .product_container {
    grid-auto-rows: 490px;
  }

  .product {
    padding-block: 42px;
  }

  .product h2 {
    font-size: 30px;
    font-weight: 700;
  }

  .product p {
    font-size: 18px;
  }
  #product2 .buttons {
    margin-bottom: 80px;
  }

  .media_slide {
    width: 689px;
    height: 368px;
  }
}

@media (max-width: 430px) {
  /* Hero Section */
  .container {
    height: 500px;
  }

  #container_16pro {
    background-image: url("images/16pro-mobile.jpg");
  }
  #container_16pro h2 {
    margin-top: 280px;
  }

  #container_16 {
    background-image: url("images/16-mobile.jpg");
  }

  .container h2 {
    font-size: 30px;
    font-weight: 700;
    height: 30px;
  }

  .buttons,
  .product-buttons {
    column-gap: 12px;
  }

  .buttons {
    padding: 8px 16px;
  }

  .product_container {
    grid-template-columns: 1fr;
  }

  .product {
    padding-block: 46px;
  }

  .media_slide {
    width: 274px;
    height: 495px;
  }
}
